<a href="https://colab.research.google.com/github/TANGTHEMANH/phan_tich_du_lieu/blob/master/btvnbuoi6_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Step 1. Import the necessary libraries
import numpy as np 
import pandas as pd

In [ ]:
# Step 2. Create a data dictionary that looks like the DataFrame below
record = [('Ivysaur', '45', 'Bulbasaur',  'yes', 'grass'),
          ('Charmeleon', '39', 'Charmander', 'no', 'fire'),
          ('Wartortle', '44', 'Squirtle', 'yes', 'water'),
          ('Metapod', '45', 'Caterpie', 'no', 'bug')]

In [ ]:
# Step 3. Assign it to a variable called pokemon
pokemon = pd.DataFrame(data = record, columns=['evolution', 'hp', 'name', 'pokedex', 'type'])

In [ ]:
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

In [ ]:
# Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]

In [ ]:
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [ ]:
# Step 5. Add another column called place, and insert what you have in mind.
import random
pokemon_len = len(pokemon)
birthday = [random.randrange(1954, 1990, 1) for i in range(pokemon_len)]
pokemon['birthday'] = birthday
pokemon.tail(4)

<ipython-input-22-c0e94ffa528a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['birthday'] = birthday

         name   type  hp   evolution pokedex  birthday
0   Bulbasaur  grass  45     Ivysaur     yes      1980
1  Charmander   fire  39  Charmeleon      no      1982
2    Squirtle  water  44   Wartortle     yes      1971
3    Caterpie    bug  45     Metapod      no      1966

In [ ]:
pokemon['is_young'] = pokemon['birthday'] > 1980
pokemon.head(4)

<ipython-input-30-577f5e7f007b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['is_young'] = pokemon['birthday'] > 1980

         name   type  hp   evolution pokedex  birthday  is_young
0   Bulbasaur  grass  45     Ivysaur     yes      1980     False
1  Charmander   fire  39  Charmeleon      no      1982      True
2    Squirtle  water  44   Wartortle     yes      1971     False
3    Caterpie    bug  45     Metapod      no      1966     False

In [ ]:
# Step 6. Present the type of each column
pokemon.info()
result = pokemon.dtypes
result

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      object
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   birthday   4 non-null      int64
 6   is_young   4 non-null      bool
dtypes: bool(1), int64(1), object(5)
memory usage: 324.0+ bytes

name         object
type         object
hp           object
evolution    object
pokedex      object
birthday      int64
is_young       bool
dtype: object

In [ ]:
# BONUS: Create your own question and answer it.
# take out names that value hp > 40
pokemon[pokemon['hp'] > '40']

        name   type  hp  evolution pokedex  birthday  is_young
0  Bulbasaur  grass  45    Ivysaur     yes      1980     False
2   Squirtle  water  44  Wartortle     yes      1971     False
3   Caterpie    bug  45    Metapod      no      1966     False